// body {
//   @apply Jamjuree-font;
// }

@font-face {
  font-family: 'Tiempos';
  src: url('../../fonts/TiemposHeadline-Medium.eot');
  src: url('../../fonts/TiemposHeadline-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/TiemposHeadline-Medium.woff') format('woff'),
    url('../../fonts/TiemposHeadline-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
